* {
  box-sizing: border-box;
}
.home-section {
  height: 600px;
}
.logo-name {
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
}
.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(245, 4, 4);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}
.nav-item:hover::after {
  width: 100%;
}
.nav-link {
  letter-spacing: 2px;
  font-weight: bold;
}
.home-section .main-content {
  padding-top: 150px;
}
.home-content {
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 60px;
}
.para {
  margin-top: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}
.download-btn {
  width: 180px;
  padding: 8px 0;
  border: 3px solid red;
  color: white;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}
.button-section {
  margin-top: 35px;
}
.download-btn:hover {
  color: rgb(220, 53, 69);
  box-shadow: 0px 0px 3px 5px rgb(220, 53, 69);
}
.card {
  height: 250px;
}
.contact-1 {
  border-right: 2px solid rgb(220, 53, 69);
}
